.kaufman__triangle {
  background-image: url(../../../../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  top: 0;
  animation: rotation_type_triangle linear 20s infinite;
}
