
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  transform: rotate(-15deg);
  animation: rotation_type_square-pic linear 20s infinite;
}
