.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__cell_theme_dark::before {
  counter-increment: list;
  content: counter(list)'';
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
