@import url(./_theme/section-title_theme_dark.css);

.section-title {
  width: 60%;
  padding-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}


